<form id="login-form">
    <label>Username</label>
    <input type="text" name="username" id="userName"/>
    <label>Passowrd</label>
    <input type="password" name="password" id="password"/>
    <button type="submit">Login</button>
</form>

<script src="/js/login.js"></script>