<h3>Signup Page</h3>
<form id="signup-form">
    <label>Username</label>
    <input type="text" name="username" id="username"/>
    <label>Email</label>
    <input type="email" name="email" id="email"/>
    <label>Password</label>
    <input type="password" name="password" id="password"/>
    <button type="submit">Signup</button>
</form>

<script src="/js/signup.js"></script>