<div class="row">
  <div class="col-auto">
    <h2>Welcome to the tech blog!</h2>
  </div>
</div>

  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>
        <ul>
            {{#each posts as |post|}}
            <li>{{post.title}}</li>
            <li>{{post.content}}</li>
            {{/each}}
        </ul>