<div class="row">
  <div class="container-fluid" style="text-align: center;">
    <h2>Welcome to the tech blog!</h2>
  </div>
</div>
<div class="container-fluid" style="text-align: center;"> 
    <h3>Current Projects:</h3>
        <ul style="list-style-type: none;">
            {{#each posts as |post|}}
            <li><a href="/views/blogpost.handlebars">{{post.title}}</a></li>
            <li>{{post.date_created}}</li>
            <li>{{post.content}}</li>
            {{/each}}
        </ul>
</div>

