<div class="row">
  <div class="container-fluid" style="text-align: center;">
    <h2>Welcome to the tech blog!</h2>
  </div>
</div>
<div class="container-fluid" style="text-align: center;"> 
    <h3>Current Projects:</h3>
        <ul style="list-style-type: none;">
            {{#each posts as |post|}}
            <div class="card text-center" style="margin-bottom: 30px; margin-right:20%; margin-left:20%">
              <div class="card-header" style="background-color:rgb(246, 249, 177)">
                Fresh Post!
              </div>
              <div class="card-body" style="background-color: #FFFEE9;">
                <h5 class="card-title"><li><a href="/blogPost/{{post.id}}">{{post.title}}</a></li></h5>
                <p class="card-text">{{post.content}}</p>

              </div>
              <div class="card-footer text-muted" style="background-color: #ECB984;">
                <li>{{post.date_created}}</li>
              </div>
              </div>
            {{/each}}
        </ul>
</div>
