{{!-- <div class='row'>
    <div class='col-md-6'>
        <h2>Login</h2>

    <form class='form login-form' id='login-form'>
        <div class='form-group'>
            <label>UserName</label>
            <input type='text' name='username' id='userName' />
        </div>
        <div class='form-group'>
            <label for='password-login'>password:</label>
            <input class='form-input' type='password' id='password' />
        </div>
        <div class='form-group'>
            <button class='btn btn-primary' type='submit'>login</button>
        </div>
    </form>
    </div>
    <div class='col-md-6'> --}}

<div class='container d-flex align-items-center justify-content-center' >
        <div class='col-md-6'>
            <h2>Login</h2>

        <form id='login-form'>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">UserName</label>
                <input type="text" name="username" class="form-control" id="userName" aria-describedby="emailHelp">
                {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>login</button>
            </div>
        </form>
    </div>
</div>
        
        

<script src='/js/login.js'></script>