<h2>This is the User Page</h2>

<h3>Create New Post</h3>

<form id="new-post" class="newPost">
    <label>Title</label>
    <input type="text" name="title" id="title">
    <label>Content</label>
    <input type="text" name="content" id="content">
    <button type="submit">Create</button>
</form>

<script src="../js/newpost.js"></script>