<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <uL>
            <a href="/"><li>Home</li></a>
            <a href="/login"><li>Login</li></a>
            <a href="/signup"><li>Signup</li></a>
            <a href="/userPage"><li>User Page</li></a>
            <a href="/logout"><li>logout</li></a>
        </uL>
    </nav>

    {{{body}}}

    <footer>
        <h4>Footer contents</h4>
    </footer>
</body>
</html>